@import "tailwindcss";

@theme {
  --color-primary: #584feb;
  --color-secondary: #6ed0a4;
  --color-warning: #fda14c;
  --color-success: #4cd964;
  --color-danger: #ff6b6b;
  --color-background: #f7f7fb;
  --color-border: #eaeaea;
}
